.header {
  width: 100%;
  padding: 0;
  display: flex;
}

.header .logo {
  flex: 1 0 5rem;
}

.header .logo img {
  width: 100%;
  max-width: 67vw;
}

.header nav {
  display: flex;
}

.header nav a {
  height: 4rem;
  min-width: 50px;
  line-height: 4rem;
  padding: 0 15px;
  text-align: center;
  background: rgba(255,255,255,0);
  text-decoration: none;
  color: #FFF;

}

.header nav a:hover,
.header nav a:active {
  background: rgba(255,255,255,0.2);
}

.header nav a.active {
  background: rgba(255,255,255,0.4);
}
